#board {
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #966F33;
}

.heading-center {
    text-align: center;
}

#game-heading {
    text-align: center;
}

#player-info {
    text-align: center;
}

body {
    background-color: aqua;
}

#join-code input {
    width: 50px;
    text-align: center;
}

#join-game {
    align-content: center;
}

#create-game {
    align-content: center;
}